<button type="button" class="btn btn-primary circle center-block " data-toggle="modal" data-target="#myModal" title="create new quote">
+
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <%= simple_form_for Idea.new do |f| %>

      <div class="modal-body">
          <%= f.input :description %>
          <%= f.input :author %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'submit', class: 'btn btn-primary' %>
      </div>
      <% end %>

    </div>
  </div>
</div>
<% @ideas.each do |idea| %>
<div class="panel-body">

    <blockquote class="row">

      <div class="col-xs-11" style="text-align:center;padding-left:10%;">
        <p class="main-quote"><%= idea.description %></p>
          <small>by <%= idea.author %></small>

      </div>
      <div class="col-xs-1" style="text-align:right;padding-top:20px;">


    <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>
    '.html_safe, idea_path(idea), method: :delete, data:{confirm: "are you sure?"} %>
        <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_idea_path(idea) %>
        </div>
    </blockquote>

</div>
<% end %>

<div class = "text-center">
  <%= will_paginate @ideas %>
</div>
