<!DOCTYPE html>
<html>
<head>
  <title>Ideator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/47b1a8d10f.js"></script>

</head>
<body>
<div class="wrap">
  <%= render '/ideas/navbar' %>
  <div class="container">
    <%= yield %>
  </div>
</div>
<%= render '/ideas/footer' %>


</body>
</html>
